body{
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include for-esm {
        max-width: 400px;
    }
    
    @include for-sm {
        max-width: 540px;
    }
    
    @include for-md {
        max-width: 720px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include for-lg {
        max-width: 960px;
    }

    @include for-xl {
        max-width: 1140px;
    }
}

.btn {
    width: fit-content;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-family: $text-font;
    font-size: 16px;
    text-decoration: none;
    transition: background all 1s ease-in-out;

    &:hover {
        background-color: transparent;
        color: black;
        font-weight: 600px;
        transition: background all 1s ease-in-out;
    }
}